.saved-post {
  border: 1px solid;
  border-radius: 0.2rem;
  padding: 2rem;
  margin-top: 1rem;

  h4{
    color: var(--color--text--subreddit-suggestion);
  }

  .button-group {
    margin: .5rem 0 ;
    display: flex;
    justify-content: space-between;
    
  }

}
