.create-post {
 width: 800px;
  margin: 0 auto;

    .create-post-form {
      width: 100%;
      .content-input {
        height: 250px;
      }

      .button-group {
        display: flex;
        justify-content: space-between;
        width: 92%;
        margin: 1rem auto;
      }

      
    }

}

@media (max-width: 100px) {
  width:800px;

  .create-post{
    width:95%;
  }
}
