.create-post {
  width: 800px;
  margin: 0 auto;

  .create-post-form {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 2rem;
    margin-top: 1rem;

    .button-group {
      display: flex;
      justify-content: space-between;
      margin: 1rem auto;
    }
  }
}

.suggestions {
  height: 6rem;
  border: 1px solid;
  margin-top: 1rem;
  p{
    padding-left: 1rem;
  }

}

@media (min-width: 640px) {
}

@media (max-width: 850px) {
  .create-post {
    width: 95%;
  }
}
