
.header {
  background-color: var(--color--reddit-red);
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h1 {
    padding: 0 2rem;
  }
  
  .link {
    margin: 1rem;
    padding: .5rem;
    text-decoration: none;
    border-radius: .2rem;

    &:hover{
      background-color: white;
      color: var(--color--reddit-red);
    }
  }
  
  

}

