.edit-saved-post {
  .button-group {
    display: flex;
    justify-content: space-between;
  
  }

  input {
    background-color: var(--color--background--textarea);
    color: var(--color--text);
  }

  textarea {
    background-color: var(--color--background--textarea);
    color: var(--color--text);
  }
}