@import 'noto-sans';
@font-face {
  font-family: 'Noto Mono';
  src: url(/fonts/noto-mono/NotoMono-Regular.woff2);
}

:root {
  color-scheme: light dark;

  --font-stack--normal: 'Noto Sans', Verdana, sans-serif;
  --font-stack--monospace: 'Noto Mono', Menlo, Consolas, monospace;

  --color--reddit-blue: #0079D3; // from New Reddit's --newCommunityTheme-button
  --color--reddit-blue-hover: #7fbce9;
  --color--reddit-red:#ff4500;
  --color--reddit-red-hover:#ff6a33;
  --color--reddit-gray: #dae0e6;
  --color--reddit-white: white;
  --color--off-white: #F6F7F8;
  --color--dark-grey: #1E2931;

}

// Literally the only reason why all this is in an @media block is so the :root inside can be at the same nesting level as the @media (prefers-color-scheme: dark) block.
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --color--text: hsl(240, 10%, 10%);
    --color--background: var(--color--reddit-gray);
    --color--background--textarea: var(--color--reddit-white);
    --color--background--textarea: var(--color--off-white);
    --color--card: var(--color--reddit-white);
    --color--text--link-unvisited: hsl(180, 100%, 25%);
    --color--text--link-visited: hsl(270, 100%, 25%);

    --color--text--subreddit-suggestion: var(--color--reddit-blue);
    
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--text: white;
    --color--background: hsl(240, 10%, 10%);
    --color--background--textarea: var(--color--dark-grey);
    --color--text--link-unvisited: hsl(180, 80%, 50%);
    --color-text--link-visited: hsl(270, 80%, 70%);

    // Actually the same color as in light mode. Unlike most text colors, this one works well enough against both a light and dark background, assuming you don’t need a particularly high contrast ratio.
    --color--text--subreddit-suggestion: var(--color--reddit-blue);
  }
}

html {
  font: normal 1em/1.3 var(--font-stack--normal);
  color: var(--color--text);
  background: var(--color--background);
}

a:link {
  color: var(--color--text--link-unvisited);
}
a:visited {
  color: var(--color--text--link-visited);
}

code {
  font-family: var(--font-stack--monospace);
}

button {
  padding: 0.8rem;
  background-color: var(--color--reddit-blue);
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  max-width: 300px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color--reddit-blue-hover);
  }

}

form {
  display: flex;
  flex-direction: column;

  input {
    margin: 0.7rem auto;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid;
    width: 95%;
  }

  textarea {
    height: 250px;
    margin: 0.7rem auto;
    padding: 1rem;
    border:1px solid;
    border-radius: 0.2rem;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
  }
}

.warning {
  background-color: var(--color--reddit-red);

  &:hover {
    background-color: var(--color--reddit-red-hover);;
  }
}

.header {
  background-color: var(--color--reddit-blue);
}